body {
    background-image: url(http://blog/include/images/background.png);
    margin-top: 70px;
}

select {
    cursor:pointer;
}
.overlay {
    position: absolute;
    width: 106%;
    top: -1em;
    left: -1em;
    height: 115%;
    z-index: 9999;
    border-radius: 5px;
    background-image: url('../images/overlay.png');
    text-align: center;
    display: none;
}

.overlay > .msg {
    background-color: #FFF;
    padding: 10px 15px 10px 15px;
    margin: auto;
    position: relative;
    top: 30%;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    text-align: center;
    width: 300px;
}
.msg > .btn {
    display:none;
    margin: 15px auto auto auto;
}

.page-wrapper {
    background-color: #EDF7F2;
    box-shadow: 0px 0px 20px -3px #000000;
    padding: 70px 15px 15px 15px;
}

.header-default {
    margin: 20px 0px 10px 0px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.divider {
    margin: 10px 0px 10px 0px;
    border: 0;
    border-top: 1px dashed #B1B1B1;
}
.row-divider {
    margin: 10px 0px 10px 0px;
    border: 0;
    border-top: 1px dashed #B1B1B1;

}
.navbar-inverse {
    background-color: #96CA2D;
    border-color: #96CA2D;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
    transition: 0.1s;
    transition-property: top;
    -webkit-transition: 0.1s;
    -webkit-transition-property: top;
    -moz-transition: 0.1s;
    -moz-transition-property: top;
    -o-transition: 0.1s;
    -o-transition-property: top;
}
.navbar-inverse .navbar-nav > li > a:hover {
    position: relative;
    top:2px;
    color:#FFFFFF;
}

.preview-channel {
    width:  200px;
    height: 115px;
}
.center {
    text-align:center;
}

.p2p_info {
    border: 1px dashed rgb(158, 158, 158);
    border-radius: 5px;
    margin: 0px 5px 30px 5px;
    position: relative;
}

.shouter {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    display:none;
}

.last_online {
    margin-top:10px;   
}

.on-line {
    background-color:#C7FFB5;
}

.off-line {
    background-color: #FFCDCD;
}

.form-group > button {
    margin-top:24px;
}

.time-pick {
    display:inline;
    width: 42px;
}
.time-separator {
    margin:0px;
    padding: 0px 0px 0px 3px;
    font-style: normal;
}

.nav-tabs {
    margin-bottom: 15px;
}
