a.list-group-item-success {
    background-color: #DFF0D8;
    color: #3C763D;
}

a.list-group-item-success:hover {
    background-color:#BFD6B6;
}

a.list-group-item-danger {
    background-color: #F2DEDE;
    color: #A94442;
}
a.list-group-item-danger:hover {
    background-color: #EBCCCC;
}

a.list-group-item-info {
    color: #2F2987;
    background-color: #C6D8FF;
}

a.list-group-item-info:hover {
    background-color: #B1BFDF;
}

a.list-group-item p {
    margin: 0px 0px 0px 10px;
    display: inline;
    float: right;
    text-align: right;
}
a.list-group-item p.hotel-id {
    color: #B0B0B0;
    padding-right: 40px;
    font-weight: bold;
}

a.list-group-item p.notes-icon {
    display:block;
    position:relative;
    top:-4px;
    border: 1px solid #46b8da;
    border-radius:3px;
    background-color:#5bc0de
}

a.list-group-item p.notes-icon span.glyphicon{
    color: #FFFFFF;
    padding: 4px 5px 7px 5px;
}

.list-group {
    margin-top:30px;
}

#name-filter {
    margin-bottom:10px;
}

label {
    cursor: pointer;
}
.progress p {
    margin:0px;
    color: black;
    position: absolute;
    right:23px;
}
.total {
    cursor: pointer;
}
.tom {
    display: none;
}
.tom .progress:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.tom .progress:hover .progress-bar {
    background-color: #4399B2;
}

.approved-checkbox {
    float: right;
    left: -25px;
    height: 25px;
    margin: 10px 0px 0px 0px !important;
}
