.container.mice {
    background-color: #E1ECF7;
}

.well.mice {
    background-color: #007EC5;
}

.preview .block-name.mice {
    color: #0B82C7;
    border: 2px solid #2D94CF;
    background-color: #94BBE3;
}

.block.mice {
    border: 2px solid #2D94CF;
    background-color: #fff;
}

tbody.mice tr:nth-child(odd) {
    background-color: #94BBE3;
}

tbody.mice tr:nth-child(even), thead.mice tr {
    background-color: #C6DAF0;
}

.comments.mice
{
    background-color: #007EC5 !important;
    border: 1px solid #007EC5 !important;
    top: auto !important;
    bottom: -90px;
}

#end-line-mice-base {
    position:absolute;
    height: 2mm;
    width: 100%;
    background-color: red;
    top: 580mm;
    z-index: 1000;
}

.edit.mice {
height: auto;
}

.js-room-edit {
    width:80%;
}
.block-name.js-room-descr-field {
    padding-bottom: 3px;
}

#end-line-mice-descr {
    position:absolute;
    height: 2mm;
    width: 100%;
    background-color: red;
    top: 250mm;
}

th.vert
{
    transform:rotate(-90deg);
}

.mice-rooms-errors {
    color: red;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#mice-rooms tbody tr td:first-child {
    white-space: nowrap;
}
