.container.luxury {
    background-color: #E5E1ED;
}

.well.luxury {
    background-color: #AA98C2;
}

.preview .block-name.luxury {
    color: #5B2F85;
    border: 1px solid #5B2F85;
    background-color: #AA98C2;
}

.block.luxury {
    border: 1.5pt solid #5B2F85; 
    background-color :#FFF;
}

tbody.luxury tr:nth-child(odd) {
    background-color: #AA98C2;
}

tbody.luxury tr:nth-child(even), thead tr {
    background-color: #D0C7DE;
}

.comments.luxury
{
    background-color: #5B2F85 !important;
    border: 1px solid #5B2F85 !important;
    top: auto !important;
    bottom: -90px;
}

#end-line-luxury-base {
    position:absolute;
    height: 2mm;
    width: 100%;
    background-color: red;
    top: 580mm;
    z-index: 1000;
}

.edit.luxury {
height: auto;
}

.js-room-edit {
    width:80%;
}
.block-name.js-room-descr-field {
    padding-bottom: 3px;
}

#end-line-luxury-descr {
    position:absolute;
    height: 2mm;
    width: 100%;
    background-color: red;
    top: 250mm;
}
