@font-face {
    font-family: 'PragmaticaCondC';
    font-style: normal;
    font-weight: normal;
    src: local("PragmaticaCondC"), url('../../fonts/PragmaticaCondC.otf')
}

@font-face {
    font-family: 'FuturaFuturisC';
    font-style: normal;
    font-weight: normal;
    src: local("FuturaFuturisC"), url('../../fonts/FuturaFuturisC.otf')
}
body {
    font-family: 'PragmaticaCondC';
}
#control {
    font-family: 'Noto Sans';
    margin-bottom:25px;
}
.block {
border: 1.5pt solid rgb(93, 151, 93);
border-radius: 1mm;
width: 146mm;
font-size: 14pt;
line-height: 16.8pt;
min-height: 10px;
text-align: left;
margin: 0px 0px 5.2mm 0px;
position:relative;
float: left;
}

.text {
padding: 4.36mm 2mm 0mm 1.47mm;
}

.table-block {
    padding:4mm 2mm 1mm 2mm;
}

.table {
    margin: 0px;
    padding:0px;
}
table, thead, tbody, tr, td, th {
    border: 1.4pt solid white;
    font-size:12pt;
}
table {
    width:100%;
}

thead {
    line-height: 7mm;
}

th {
    text-align:center;
}
tbody {
    line-height:4.8mm;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgb(0,170,173);
}

tbody tr:nth-child(even), thead tr {
    background-color: rgba(0,170,173, 0.3);
}

tr td:first-child {
    text-align: left;
    padding-left:5px;
}

.preview {
    margin:20px 0px 0px 0px;
    padding:0px;
}

#end-line {
    position:absolute;
    height: 2mm;
    width: 100%;
    background-color: red;
    top: 480mm;
}

#ceo-line {
    position:absolute;
    height: 0mm;
    border-top: 1px dashed red; 
    width: 100%;
    top: 470mm;
}

textarea {
    resize:vertical;
    width:100%;
    border: 0px;
}
.left-part, .right-part {
    margin 0px;
    padding: 0px;
    float:left;
    width:50%;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 0mm;
    -webkit-margin-after: 0mm;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start:12px !important; 
}
.preview .block-name {
    position:absolute;
    right:10mm;
    top:-3mm;
    color: rgb(0,170,173);
    border:1px solid rgb(0,170,173);
    background-color: rgb(141,226,228);
    border-radius:5px;
    font-weight:bold;
    padding:0px 5px 0px 5px;
    font-family:"FuturaFuturisC";
    font-size: 13pt;
}
.edit .block-name {
    font-family:"FuturaFuturisC";
    font-size:13pt;
    padding: 0px 10px;
    text-align:right;
    background-color: gainsboro;
}
.edit {
    height: 500mm;
    border-left: 1px dashed black;
    padding: 20px 10px;
}

.edit .left-part {
    border-right: 1px solid gray;
}
.edit .top-part {
    border-bottom: 1px solid gray;
}

.preview .left-part {
    border-right: 1px dashed gray;
}

.block-name input {
    margin: 3px 0px 0px 10px;
    cursor: pointer;
}

#finished {
    height: 32px;
    margin: 0px 0px 0px 10px;
    width: 34px;
    vertical-align: middle;
}
#hotel-name {
    font-weight: bold;
    font-size: 20px;
}

.preview .left-part {
    border-right: 1px dashed gray;
}

.block-name input {
    margin: 3px 0px 0px 10px;
    cursor: pointer;
}

#finished {
    height: 32px;
    margin: 0px 0px 0px 10px;
    width: 34px;
    vertical-align: middle;
}
#hotel-name {
    font-weight: bold;
    font-size: 20px;
    float: left;
    width: 699px;
    margin-right:14px;
    margin-bottom:10px;

}
#rate {
    width: 48px;
    font-size:20px;
    font-weight: bold;
    float: left;
    margin-right: 14px;
}

#sports-ents {
    padding:4.36mm 1mm 0mm 1.47mm;
}
.site {
    padding:0px 5px 0px 0px;
}
.ceo {
    padding:0px 0px 0px 5px;
}
#sayama-comments {
    position: absolute;
    height: 22mm;
    width: 100%;
    background-color: rgb(255, 71, 0);
    border: 1px solid #FF4700;
    overflow: hidden;
    top: 485mm;
    color: white;
    line-height: 14pt;
    padding-top: 1mm;
}

.edit .icon-tab {
    position: absolute;
    width: 200px;
    height: 100%;
    left:153mm;
    padding: 10px 5px 0px 0px;
}

.preview .icon-tab {
    position: absolute;
    width: 100px;
    height: 100%;
    right:153mm;
    padding: 10px 5px 0px 0px;
}

.check-in-out {
    width:50%;
    float:left;
    margin: 7px 0px 0px 0px;
    padding-right: 26px;
}
.check-in-out label, .site label, .ceo label,
.region label, .subregion label {
    margin:0px 0px 0px 0px;
}
label.finished {
    margin-left:13px;
}

.icon-placeholder {
    position:relative;
    margin: 0px 0px 20px 0px;
    height:53px;
    width:90px;
}
.edit .icon-placeholder img {
    width: inherit;
    height: inherit;
    opacity: 0.2;
    cursor: pointer;
}

.edit .icon-placeholder img:hover {
    opacity:1;
}

.edit .icon-placeholder img:active {
    position:relative;
    top:2px;
    right:2px;
}

.preview .icon-placeholder img {
    width: inherit;
    height: inherit;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.preview .icon-placeholder {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: whitesmoke;
}

.opacity1 {
    opacity: 1 !important;
}
.opacity0 {
    opacity: 0 !important;
}

.edit .icon-placeholder input {
    position:absolute;
    top: 0px;
    left: 100px;
    height: inherit;
    opacity: 0.2;
    font-family: "Noto Sans";
    font-weight: bold;
    font-size:26px;
}

.edit .icon-select {
    position: relative;
    width: 0px;
    height:0px;
    top: -53px;
    left: 100px;
    z-index: 9001;
    background-color: #FFFFFF;
    overflow:hidden;
}
.edit .icon-select img {
   width:91px;
   margin-bottom: 4px;
   height: 53px;
}

.edit .icon-placeholder img.location {
   opacity:1;
}

select.input-sm {
   padding: 5px 3px;
}

.region, .subregion {
   padding:0px 0px 0px 10px;
}
.subregion select {
   display:none;
}

img.video-icon {
    height: 41px;
    float: left;
    position: relative;
    top: -4px;
    opacity: 0.2;
    cursor:pointer;   
}
img.video-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}
img.video-icon:active {
    cursor:pointer;
}
.dash-right {
    border-right: 1px dashed black;
}

.notes {
    margin: 12px 0px 0px 0px;
    padding:0px;
}

.notes .btn {
    width:80%;
}

.notes .btn span {
    font-size:19px;mar
}

.note-wrapper {
    position: absolute;
    top: 35px;
    overflow: hidden;
    height: 0px;
    width: 54px;
}

.note-text {
    position: relative;
    top: 8px;
    width: 100%;
    height: 46px;
    border: 1px solid #d43f3a;
    border-radius: 0px 5px 5px 5px;
    overflow: hidden;
    padding:5px;
    background-color: #d9534f;
}

.note-text input {
    border:1px solid #d43f3a;
}

.note-connector {
    width:54px;
    height:11px;
    border: 1px solid #d43f3a;
    background-color: #d9534f;
    border-top:0px;
    border-bottom: 0px;
    top:0px;
    position: absolute;
}
.exported-overlay {
    position:absolute;
    background-image: url('../../images/overlay.png');
    width: 101px;
    height: 100%;
    top: 0px;
    z-index:9999;
    left :-6px;
    border-radius: 3px;
    display:none;
}
