.app-container {
    position:relative;
}

.full-info-tab .form-control {
    padding: 3px 0px 3px 6px;
}
.competitor-info li.active a, 
.competitor-info li.active a:hover {
    color: #ffffff;
    background-color: #428BCA;
}
.competitor-info li a {
    padding: 8px 10px;
}
.base-info {
    margin-bottom: 50px;
}
