<div class="list-group">
    <?php foreach($list as $hotel) : ?>
        <a class="list-group-item" data-id="<?= $hotel->get('id')?>" href="">
            <?= $hotel->get('name') ?>
        </a>
    <?php endforeach;?>
</div>
