<?php if ($engine->isUserInGroup('reservation')): ?>
<div class="col-xs-6">
   <h4>Год открытия на иконке: <b><?= $cat_info->get('icon_3_text')?></b></h4><br>
   <h4>Год реновации на иконке: <b><?= $cat_info->get('icon_4_text')?></b></h4><br>
   <h4>Расстояние до пляжа: <b><?= $cat_info->get('icon_1_text')?></b></h4><br>
</div>
<?php endif;?>
